:root{
    --cinza: rgb(187, 183, 183);
--azul: rgb(32, 32, 230);
--vermelho: rgb(184, 0, 0);
--preto:black;
--verde: rgb(32, 124, 32);
--amarelo: rgb(235, 235, 11);
--roxo: rgb(160, 13, 239);
--branca: white;
}

body{
background-color:var(--preto);
align-items: center;
display: flex;
justify-content: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
min-height: 100vh;
}

h1{
    font-size: 2rem;
    margin-bottom: 20px;
    color:var(--azul)
}

h2{
    color:var(--branco);
    margin-bottom: 20px;
    font-size: 1.5rem;
}
    
.teclado{
    background: linear-gradient(90deg, rgba(42, 123, 123));
    box-shadow: 6px 8px  0 6px ;
    border-radius: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
     padding: 10px;
}